.navbar {
    background-color: var(--color-primary);
    height: 74px;
    width: 100vw;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    height:40px;
    cursor:pointer;
  }
  :root {
    --color-primary:#1a1a1a;
    --color-secondary:#00ff00;
  }
  